.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:black;
	position:absolute;
	top: 9px;
	left: 15px;
	font-weight:bold;
}
.image img{
	width:250px;
	float:left;
	margin-right:10px;
}
.content{
	width:70%;
	clear:both;
	margin-left:158px;
	margin-right:auto;
	margin-bottom:65px;
	text-align:justify;
}
.head {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.logo img {
	float:left;
	width:250px;
	margin-bottom: 20px;
}
.title {
	padding: 1px;
}
.header {
	width: 70%;
	margin-left: auto;
	margin-right:auto;
}
	