/*
Lab 3 CSS styles
CSS styles for Ultimate frisbee page
*/

body {
  color: #b30000;
  font: 18px bold ,"Lucida Console" , "Courier New",sans-serif;
  background-repeat: no-repeat;
  background-image:url("kahvee.jpg");
  background-size: cover;
}
li{
	list-style-type: square;
}

header{
	text-align: center;
}

img{
	border: 2px solid black;
}
th, td 
{
	border: 1px solid black;
	padding: .2em .1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}
th{
	background-color: #ecd9c6;
	text-align:center;
	color:#604020;
}

footer {
   font-size:small;
   text-align: center;
}
h1.a{
	text-align:center;
	font-weight: bold;
	font-style: italic;
	color:#4c341a
}
h2.a{
	font-style: oblique;
	font-size: 30px;
	color:#4c341a
}
h2.b{
	font: italic bold 28px Georgia, serif;
	color:#4c341a;
}
h2.c{
	color:#4c341a;
}
h2,h1{
background-color: #f2e6d9;
}
.altrow:nth-child(odd) {
	background-color: #734d26;
;}
.altrow:nth-child(even) {
	background-color: #bf8040;
	}