#movingbutton{
    display: block;
    position: absolute;
	background-color: #008CBA;
	padding: 15px 32px;
	margin-left: auto;
    margin-right: auto;
}
body{
  width : 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
footer{
	margin-bottom:auto;
}